name: "regression"
on: [push] # This is for github actions to trigger when push the codes to remote repository
jobs:
  test-regression:
    name: Run regression tests
    runs-on: ubuntu-20.04 # This is the machine in which the test will get executed.
    steps:
      - uses: actions/checkout@v3 # This step will check out all the code.
      - uses: actions/setup-node@v2 # This is to set up node
        with:
          node-version: "14" # This will setup node version 14
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright # This is to install playwright with all dependencies
        run: npx playwright install --with-deps
      - name: Run regresion tests
        run: npx playwright test
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4.4.3
        with:
          name: Test Results
          path: test-results
